# Visualization w/ Detail Hovers

This dashboard demonstrates the use of hovers, and requires a separate notebook named `VizDetailHover.ipynb`.

In [1]:
from mavenworks import Part, Dashboard, Bind
import pandas as pd

In [2]:
df = pd.read_csv("kc_house_data.csv")
df_grouped = df.set_index(["zipcode", "id"]).sort_index()
df = df.groupby("zipcode")
df_tree = pd.concat((df["price"].mean(), df.size()), axis=1)
df_tree.rename(columns={"price": "Price", 0: "Count"}, inplace=True)
df_tree["zip"] = df_tree.index
df_tree

                Price  Count    zip
zipcode
98001    2.808047e+05    362  98001
98002    2.342840e+05    199  98002
98003    2.941113e+05    280  98003
98004    1.355927e+06    317  98004
98005    8.101649e+05    168  98005
...               ...    ...    ...
98177    6.761854e+05    255  98177
98178    3.106128e+05    262  98178
98188    2.890783e+05    136  98188
98198    3.028789e+05    280  98198
98199    7.918208e+05    317  98199

[70 rows x 3 columns]

In [3]:
dash = Dashboard()

title = Part("MavenTitlePart", {"Name": "King County House Prices by Zipcode"}, show_title=False, Stack_FixedSize=130)
kc_choropleth = Part("KingCountyChoroplethPart", {"Data Input": Bind.Py("df_tree")}, show_title=False)

dash.root.add(title, kc_choropleth)
dash.root.properties["horizontal"] = False

dash

Dashboard Layout (if you see this, check your  plugin install!)