# MavenWorks Parts

Parts are re-usable components that can be written in a few different languages. Here, we demonstrate a Python Part. Python Parts can be written anywhere- modules, scripts, even inside a notebook. ScatterPart is a built-in to demonstrate the API.

In [1]:
import mavenworks
import pandas as pd
import ipywidgets as widgets

Load the King's County house pricing dataset. This is a set of house sales prices in the Seattle, WA area.

In [2]:
data = pd.read_csv("./kc_house_data.csv")
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [3]:
# Auto-generated code, do not edit!
_json = __import__("json")
display(_json.loads("{\"application/vnd.maven.layout+json\": {\"layout\":{\"properties\":{\"flexSize\":1},\"typeName\":0,\"uuid\":\"c91b0998-78e2-4bcc-b792-859312bfdafd\",\"attachedProperties\":[{\"Fixed Size (px)\":null,\"Stretch\":0.20161290322580644},{\"Fixed Size (px)\":null,\"Stretch\":1.7983870967741935}],\"children\":[{\"properties\":{\"caption\":\"IntSliderPart\",\"showTitle\":false},\"typeName\":1,\"uuid\":\"f92db785-205d-4bcc-b12d-318991e5aac1\",\"guid\":\"f9bb78a5-7e5d-46f1-a4a1-9e777259a5a7\"},{\"properties\":{\"caption\":\"Sq. ft. by Price for home sales in King County, WA\",\"showTitle\":true},\"typeName\":1,\"uuid\":\"11831403-b81f-491a-8e94-15d233f10a70\",\"guid\":\"b8ca54cd-f41f-4cba-a50f-9b9fa5df7fc1\"}]},\"parts\":{\"b8ca54cd-f41f-4cba-a50f-9b9fa5df7fc1\":{\"application/vnd.maven.part+json\":{\"name\":\"PyScatterPart\",\"id\":\"b8ca54cd-f41f-4cba-a50f-9b9fa5df7fc1\",\"options\":{\"Input Data\":{\"type\":\"Eval\",\"expr\":\"data[data['floors'] == @LimitFloors][[\\\"sqft_living\\\", \\\"price\\\"]]\",\"globals\":[\"LimitFloors\"]},\"X Column\":{\"typeName\":\"String\",\"value\":\"sqft_living\"},\"Y Column\":{\"typeName\":\"String\",\"value\":\"price\"}}},\"text/plain\":\"VisualEditorPart\"},\"f9bb78a5-7e5d-46f1-a4a1-9e777259a5a7\":{\"application/vnd.maven.part+json\":{\"name\":\"IntSliderPart\",\"id\":\"f9bb78a5-7e5d-46f1-a4a1-9e777259a5a7\",\"options\":{\"value\":{\"type\":\"Global\",\"expr\":\"LimitFloors\",\"globals\":[\"LimitFloors\"]},\"min\":{\"typeName\":\"Number\",\"value\":1},\"max\":{\"type\":\"Eval\",\"expr\":\"int(data[\\\"floors\\\"].max())\",\"globals\":[]},\"description\":{\"typeName\":\"String\",\"value\":\"@LimitFloors\"}}},\"text/plain\":\"VisualEditorPart\"}},\"metadata\":{},\"globals\":[{\"name\":\"LimitFloors\",\"type\":\"Number\",\"value\":2}],\"localParts\":{},\"visual\":true}}"), raw=True)
del _json